div#video-container{
    width: 100vw;
    height: 100vh;
    background: $bg-color-primary;
    background-image: url('https://i.pinimg.com/originals/02/82/3c/02823cbfd3b547999b18a69cc0c1e6bb.gif');
    background-size: 5%;
    display: flex;
    align-items: center;
    justify-content: center;
    animation-name: fundo;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-direction: reverse;
    animation-timing-function:ease;

    #video-holder{
        justify-content: center;
        align-items: center;
        display: flex;
        flex-direction: column;

        a{
            color: $text-color-strong;
            font-size: 5rem;
            font-weight: 900;
        }

        a:hover{
            color: $bg-lighteen-color;
        }
    }
    
}

@keyframes fundo{
    0%   {background-position-x: 0%; }
    25%  {background-position-x: 25px;}
  50%  {background-position-x: 50px;}
  75%  {background-position-x: 75px;}
  100% {background-position-x: 100px; }
}