$text-color-strong: #FAFA5E;
$text-color-weak: #FEFC8D;
$bg-color-primary: #3A3958;
$bg-lighteen-color: #565580;

@import 'base';
@import 'container';
@import 'main';
@import 'arrows';
@import 'cards';
@import 'verticalCards';
@import 'horizontalCards';
@import 'header';