@charset "UTF-8";
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: 0;
  text-decoration: none;
}

html {
  /* a cada 1rem será considera 10px */
  font-size: 62.5%;
}

html,
body {
  font-family: 'Poppins', sans-serif;
  text-rendering: optimizelegibility;
  -webkit-font-smoothing: antialiased;
}

body {
  font-size: 1.6rem;
}

#container {
  background: #3A3958;
  background-image: url("https://i.pinimg.com/originals/02/82/3c/02823cbfd3b547999b18a69cc0c1e6bb.gif");
  background-size: 5%;
}

div .content {
  height: 1600px;
  padding: 3rem 0 0 6rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}

#bigCover {
  position: absolute;
  z-index: 2;
  right: 0;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-image: url(https://wallpaperaccess.com/full/1086024.jpg);
}

#bigCover div .tittleHolder {
  position: absolute;
  z-index: 2;
  width: 70rem;
  height: 20rem;
  background-color: #FAFA5E;
}

#bigCover div .tittleHolder a {
  font-size: 50rem;
  color: #FAFA5E;
}

main {
  margin-top: 5rem;
  overflow-x: hidden;
  overflow-y: hidden;
}

div .arrow-left, div .arrow-right {
  position: absolute;
  width: 4rem;
  height: 46rem;
  z-index: 90;
  background-color: rgba(254, 252, 141, 0.6);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
  opacity: 0;
  -webkit-transition: all ease 0.4s;
  transition: all ease 0.4s;
}

div .arrow-left img, div .arrow-right img {
  width: 3rem;
  height: 3rem;
}

div .arrow-left-horizontal, div .arrow-right-horizontal {
  position: absolute;
  width: 4rem;
  height: 17rem;
  z-index: 90;
  background-color: rgba(254, 252, 141, 0.6);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
  opacity: 0;
  -webkit-transition: all ease 0.4s;
  transition: all ease 0.4s;
}

div .arrow-left-horizontal img, div .arrow-right-horizontal img {
  width: 3rem;
  height: 3rem;
}

.arrow-left, .arrow-left-horizontal {
  left: 2vw;
}

.arrow-right, .arrow-right-horizontal {
  right: 0;
}

.cards :hover, .arrow-left {
  opacity: 1;
}

.cards :hover, .arrow-left, .arrow-left-horizontal {
  opacity: 1;
}

div .cards {
  margin-bottom: 3rem;
}

div .cards h2 {
  color: #FEFC8D;
}

#cardsArea {
  overflow-x: hidden;
}

div .VerticallList {
  width: 2770rem;
  -webkit-transition: all ease 400ms;
  transition: all ease 400ms;
}

.VerticalCard {
  display: inline-block;
  width: 28rem;
  height: 46rem;
  z-index: 1;
  -webkit-transition: all ease 1000ms;
  transition: all ease 1000ms;
  -webkit-transform: scale(1);
          transform: scale(1);
}

.VerticalCard img {
  width: 100%;
  height: 100%;
  border-radius: 1rem;
  background-size: cover !important;
}

.VerticalCard img img:hover {
  background-color: black;
}

.VerticalCard:hover {
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
  position: inherit;
  z-index: 22;
  -webkit-box-shadow: 10px -10px 5px rgba(86, 85, 128, 0.6);
          box-shadow: 10px -10px 5px rgba(86, 85, 128, 0.6);
  border-radius: 1.5rem;
}

#horizontalCards {
  overflow-x: hidden;
}

div .cardsList {
  width: 400rem;
  -webkit-transition: all ease 1000ms;
  transition: all ease 1000ms;
}

.HorizontalCard {
  display: inline-block;
  width: 36rem;
  height: 17rem;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: all ease 1000ms;
  transition: all ease 1000ms;
}

.HorizontalCard img {
  width: 100%;
  height: 100%;
  border-radius: 1rem;
}

.HorizontalCard:hover {
  z-index: 22;
  background: #000;
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
  -webkit-box-shadow: 10px -10px 5px rgba(86, 85, 128, 0.6);
          box-shadow: 10px -10px 5px rgba(86, 85, 128, 0.6);
  border-radius: 1.5rem;
}

header {
  position: fixed;
  z-index: 22;
  width: 100%;
  height: 5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  top: 0;
  left: 5rem;
}

#Logo {
  color: #FAFA5E;
  font-size: 3rem;
  font-weight: 900;
  font-family: 'Poppins', sans-serif;
  text-rendering: optimizelegibility;
  -webkit-font-smoothing: antialiased;
  -webkit-transition: all ease 2000ms;
  transition: all ease 2000ms;
}

#Logo:hover {
  font-size: 4rem;
  letter-spacing: 1.2rem;
}

#menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 10rem;
}

#menu a {
  color: #FEFC8D;
  font-size: 1.563rem;
  font-family: 'open sans', sans-serif;
  font-weight: 600;
  margin: 0 0.8em;
  -webkit-transition: 1000ms;
  transition: 1000ms;
}

#menu a:hover {
  font-size: 4rem;
  color: #FAFA5E;
}

div#video-container {
  width: 100vw;
  height: 100vh;
  background: #3A3958;
  background-image: url("https://i.pinimg.com/originals/02/82/3c/02823cbfd3b547999b18a69cc0c1e6bb.gif");
  background-size: 5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-animation-name: fundo;
          animation-name: fundo;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  animation-direction: reverse;
  -webkit-animation-timing-function: ease;
          animation-timing-function: ease;
}

div#video-container #video-holder {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

div#video-container #video-holder a {
  color: #FAFA5E;
  font-size: 5rem;
  font-weight: 900;
}

div#video-container #video-holder a:hover {
  color: #565580;
}

@-webkit-keyframes fundo {
  0% {
    background-position-x: 0%;
  }
  25% {
    background-position-x: 25px;
  }
  50% {
    background-position-x: 50px;
  }
  75% {
    background-position-x: 75px;
  }
  100% {
    background-position-x: 100px;
  }
}

@keyframes fundo {
  0% {
    background-position-x: 0%;
  }
  25% {
    background-position-x: 25px;
  }
  50% {
    background-position-x: 50px;
  }
  75% {
    background-position-x: 75px;
  }
  100% {
    background-position-x: 100px;
  }
}

#m-container {
  height: 180vh;
  background-color: #3A3958;
  overflow-x: hidden;
  width: 100vw;
  background-image: url("https://i.pinimg.com/originals/02/82/3c/02823cbfd3b547999b18a69cc0c1e6bb.gif") to;
  background-size: 5%;
  text-rendering: optimizelegibility;
  -webkit-font-smoothing: antialiased;
}

.m-content {
  margin-left: 6rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.bgCoverContainer {
  width: 100%;
  height: 90vh;
}

.bgCoverContainer img {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
}

.bgCoverContainer #tittleHolder {
  position: fixed;
  z-index: 1;
  margin-left: 50%;
  top: 50%;
  -webkit-transform: translateX(-55%);
          transform: translateX(-55%);
  width: 100%;
  height: 10rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.bgCoverContainer #tittleHolder a {
  color: #FAFA5E;
  font-family: "Poppins", sans-serif;
  font-size: 6rem;
  font-weight: 900;
  margin-top: -6rem;
  -webkit-transition: all ease 1000ms;
  transition: all ease 1000ms;
  text-align: center;
}

a#titulo:hover {
  font-size: 8rem;
  color: #3A3958;
  position: absolute;
}

#more-information {
  border-radius: 2rem 2rem 0 0;
  padding: 0 2rem 0 2rem;
  width: 98%;
  height: 90vh;
  background: #3A3958;
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  overflow: hidden;
}

#more-information #vertical-cover-holder {
  width: 36.5rem;
  height: 53.2rem;
  border-radius: 1rem;
}

#more-information #vertical-cover-holder img {
  width: 100%;
  height: 100%;
  border-radius: 0.4rem;
}

#more-information #sinopseContainer {
  width: 48rem;
  height: 53.2rem;
  border-radius: 0 1rem 1rem 0;
  margin-top: 12%;
}

#more-information #sinopseContainer .spacing {
  height: 31rem;
}

#more-information #sinopseContainer .sinopseholder h2 {
  font-size: 4rem;
  color: #FAFA5E;
}

#more-information #sinopseContainer .sinopseText {
  background: #3A3958;
  width: 100%;
  height: 23rem;
  border-radius: 1.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#more-information #sinopseContainer .sinopseText p {
  font-family: 'open-sans', sans-serif;
  font-weight: 500;
  font-size: 2.1rem;
  color: #FEFC8D;
  width: 95%;
  letter-spacing: 5%;
}

#tecnicalsheet {
  width: 33.8rem;
  height: 53.2rem;
  overflow: hidden;
}

#tecnicalsheet h2 {
  font-size: 3.2rem;
  color: #FAFA5E;
  font-family: 'Poppins', sans-serif;
  font-weight: 900;
}

#tecnicalsheet .table {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 0.4rem;
  background-color: #FAFA5E;
  height: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#tecnicalsheet .table h3 {
  color: #3A3958;
  font-size: 2rem;
  margin-top: 1rem;
}

#tecnicalsheet .table h4 {
  margin-bottom: 1rem;
  color: #565580;
  font-size: 1.6rem;
}

#tecnicalsheet .table .tabledata {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#tecnicalsheet .table .tabledata .darkblock {
  background: #3A3958;
  height: 3.2rem;
  width: 32rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  overflow: hidden;
  padding: 0 1rem 0 1rem;
}

#tecnicalsheet .table .tabledata .darkblock div {
  font-size: 1.3rem;
  font-family: 'Open Sans', sans-serif;
  color: #FAFA5E;
  font-weight: 600;
}

#tecnicalsheet .table .tabledata .darkblock div:nth-child(1) {
  color: #FEFC8D;
  font-size: 1.8rem;
}

#tecnicalsheet .table .tabledata .darkblock div:nth-child(2) {
  width: 34%;
}

#tecnicalsheet .table .tabledata .darkblock:nth-child(7), #tecnicalsheet .table .tabledata .darkblock:nth-child(15) {
  padding-top: 1rem;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
}

#tecnicalsheet .table .tabledata .darkblock:nth-child(7) {
  height: 6.4rem;
}

#tecnicalsheet .table .tabledata .darkblock:nth-child(15) {
  height: 9.4rem;
}

#tecnicalsheet .table .tabledata .darkblock:nth-child(4) {
  color: #FAFA5E;
}

#tecnicalsheet .table .tabledata .lighteenblock {
  background-color: #565580;
  height: 1rem;
  width: 27rem;
}
/*# sourceMappingURL=main.css.map */