<div class="carousel__card card__vertical fluid" id="<%-movie.id%>">
    <div class="carousel__card__image fluid">
        <img class="fluid" src=<%= movie.image%> alt=<%= movie.tittle%>>
        <span class="movie__description__wrapper fluid">
            <span class="movie__description fluid"><%-movie.description%></span>
        </span>
    </div> 
</div>