<div class="carousel__wrapper">
    <div class="arrow__left arrows arrows__starred">
        <img src="assets/l-arrow.png">
    </div>
    <div class="carousel fluid">
        <%starredMovies.forEach(movie=> { %>
            <a href=<%-`/movie/${movie.id}`%> class="carousel__card card__vertical fluid">
                <div class="carousel__card__image fluid">
                    <img class="fluid" src=<%= movie.image%> alt=<%= movie.tittle%>>
                </div>
            </a>
            <% }) %>
        </div>
    <div class="arrow__right arrows arrows__starred">
        <img src="assets/r-arrow.png" alt="seta">
    </div>
</div>