<header class="fluid">
    <div id="logo-container">
        <a href="/" id="Logo">Ghibli Cinema</a>
    </div>
    <div id="menu">
        <!-- <a href="/all">Filmes</a> -->
        <a href="#movies__hayao">Hayao</a>
        <a href="#movies__isao">Takahata</a>
        <a href="#movies__others">Others</a>
        <a href="/history">History</a>
    </div>
</header>