<div class="movie__detail__container hidden">
    <div class="banner__container">
        <span class="fluid"> <a><i class="fa-solid fa-play"></i></a></span>
        <button class="close__button borderless fluid"><i class="fa-solid fa-xmark"></i></button>
    </div>
    <div class="movie__detail__content">
        <div class="content__wrapper">
            <div class="movie__title">
                <h1 class="movie__detail__title"></h1>
                <span class="movie__detail__date"></span>
            </div>
            <div class="movie__detail__description">
                <p></p>
            </div>
        </div>
        <div class="director__wrapper">
            <span>Director</span> <h3></h3>
        </div>
    </div>
    
</div>