<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ghibli Cinema</title>

    <link rel="stylesheet" href="../css/main.css">

    <link rel="shortcut icon" href="https://64.media.tumblr.com/f2a13ff3959cf8280f1a81765fc3f29d/4cd086da613a1d0d-75/s1280x1920/8fbc83cae3df21e4a84fd0d915b94afef730f135.png" type="image/x-icon">
</head>
<body>
    <div id="video-container">
        <div id="video-holder">
            <div class="container__flex justified__spaced aligned__centered" id="movie__watch__header">
                <a href="/" class="fluid"><i class="fa-solid fa-arrow-left-long"></i></a>
                <h1 id="titlemovieholder"><%=movie.title%></h1>
            </div>
            <iframe width="560" height="315" src=<%-movieLink.videoSource%> title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
    </div>

    <script src="../scripts/movielinks.js"></script>
    <script src="https://kit.fontawesome.com/e9cc5f7524.js" crossorigin="anonymous"></script>
</body>
</html>