* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline: 0;
    text-decoration: none;
    user-select: none !important;
  }
  
  html {
    /* a cada 1rem será considera 10px */
    font-size: 62.5%;
    scroll-behavior: smooth;
  }
  
  html,
  body {
    font-family: 'Poppins', sans-serif;;
    text-rendering: optimizelegibility;
    -webkit-font-smoothing: antialiased;
  }

  body {
    font-size: 1.6rem;
    position: relative;
    &::-webkit-scrollbar {
      width: 15px;     
      padding: 0 2px;          /* width of the entire scrollbar */
    }
    &::-webkit-scrollbar-track{
      background-color: $text-color-strong;
    }
  
    &::-webkit-scrollbar-thumb{
      background-color: $bg-lighteen-color;
      filter: brightness(1.4);
      width: 10px;
      border-radius: 1rem;
    }
  }
