.arrows__container{
    display: flex;
    justify-content: space-between;
    height: 100%;
    width: 100%;
}

.arrows{
    z-index: 90;
    position: absolute;
    width: 4rem;
    height: 100%;
    background-color: rgba(254, 252, 141, 0.6);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    opacity: 0;
    transition: all ease 0.4s;

    i{
        width: 3rem;
        height: 3rem;
    }

    &:hover{
        opacity: 1;
    }
}

.arrow__right{
    left: 97%;
    top: 0;
}

.carousel__wrapper{
    overflow-x: hidden;
    position: relative;
    overflow-y: hidden;

    .carousel{
        display: flex;
        grid-auto-flow: column;
        flex-wrap: wrap;
        gap: 10px;
        .carousel__card{
            // width: 26rem;
            height: 40rem;
            border-radius: 2rem;
            display: inline-block;
            cursor: pointer;

            .carousel__card__image{
                width: 100%;
                height: 100%;
                border-radius: 2rem;
                cursor: pointer;
                position: relative;

                &:hover{
                    box-shadow: 0 0 10px 5px rgba(245, 245, 245, 0.288);
                    transform: scale(0.9);
                    span.movie__description__wrapper{
                        top: 0;
                        height: 100%;
                        width: 100%;
                    }

                }


                img{
                    width: 100%;
                    height: 100%;
                    border-radius: 0.5rem;
                    cursor: pointer;
                }

                span.movie__description__wrapper{
                    height: 50%;
                    top: 200%;
                    z-index: 2;
                    position: absolute;
                    left: 0;
                    text-align: center;
                    width: 100%;
                    border-radius: 0.5rem;
                    display: inline-flex;
                    align-items: flex-end;
                    padding: 0 0.5rem 2.5rem 0.5rem;
                    background: linear-gradient(0deg, rgba(86,85,128,1) 0%, rgba(86, 85, 128, 0.836) 35%, rgba(0,212,255,0) 100%);
                    color: #f9f78c;

                    .movie__description{
                        height: 40%;
                        width: 20%;
                        display: contents;
                        padding: 0.5rem;
                        padding-top: 0;
                    }
                }
            }
        }
    }
}