#container{
    background: $bg-color-primary;
    background-image: url('https://i.pinimg.com/originals/02/82/3c/02823cbfd3b547999b18a69cc0c1e6bb.gif');
    background-size: 5%;
}

div .content{

    display: flex;
    flex-direction: column;
    overflow:hidden;
}

.container{
    padding-left: 3rem;
}

#bigCover{
    position: absolute;
    z-index: 2;
    right: 0;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    
    background-image: url(https://wallpaperaccess.com/full/1086024.jpg);

    div .tittleHolder{
        position: absolute;
        z-index: 2;
        width: 70rem;
        height: 20rem;
        background-color: $text-color-strong;

        a{
            font-size: 50rem;
            color: $text-color-strong;
        }
    }
}
