footer{
    color: $bg-color-primary;
    width: 100%;
    gap: 0.5rem;
    background-color: $text-color-strong;
    padding: 1rem;
    
    a{
        color: $bg-color-primary;
        position: relative;
        
        &::before{
            content: "";
            position: absolute;
            background-color: $bg-color-primary;
            width: 0;
            height: 100%;
            transition: all 400ms;
            color: yellow;
            z-index: -1;
            border-radius: 1rem;
            padding: 0 1rem;
        }

        &:hover{
            color: yelow;
            filter: brightness(0.9);
            transform: translateX(10px);
            color: $text-color-strong;
            &::before{
                width: 100%;
                transform: translateX(-10px);
            }
        }
    }
}