header {
    position:fixed;
    z-index: 22;
    width: 100%;
    height: 5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    // background-color: $bg-color-primary;
    top: 0;
    padding: 0 3rem;
}

#Logo{
    color: $text-color-strong;
    font-size: 3rem;
    font-weight: 900;
    font-family: 'Poppins', sans-serif;
    text-rendering: optimizelegibility;
    -webkit-font-smoothing: antialiased;
    transition: all ease 400ms;

    &:hover{
        transform: scale(1.2);
    }
}


#menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    a{
        color: $text-color-weak;
        font-size: 1.563rem;
        font-family: 'open sans', sans-serif;
        font-weight: 600;
        transition: 400ms;
        will-change: transform;
    } 

    
}

#menu a:hover{
    transform: scale(1.3) scaleX(1.1);
    color: $text-color-strong;
}
