#horizontalCards {
    overflow-x: hidden;
   
}

div .cardsList{
    width: 400rem; 
    transition: all ease 1000ms;     
}

.HorizontalCard{
    display: inline-block;
    width: 36rem;
    height: 17rem;

    transform:scale(1);
    transition: all ease 400ms;
    img{
        width: 100%;
        height: 100%;
        border-radius: 1rem;
              
    }
}

.HorizontalCard:hover{
    z-index: 22;
    background: #000;
    transform: scale(0.9);
    box-shadow: 0 0 10px 10px  rgba(86, 85, 128,0.6);
    border-radius: 1.5rem;
}