main{
    margin-top: 5rem;
    overflow-x:hidden;

    .movies__section{
        margin-bottom: 3rem;
        position: relative;

        h2{
            color: $text-color-weak;
        }
    }
}

