#m-container{
    height: 180vh;
    background-color: $bg-color-primary;
    overflow-x: hidden;
    width: 100vw;
    background-image: url('https://i.pinimg.com/originals/02/82/3c/02823cbfd3b547999b18a69cc0c1e6bb.gif') to;
    // background-repeat: repeat;
    background-size: 5%;
    text-rendering: optimizelegibility;
    -webkit-font-smoothing: antialiased;
}

.m-content{
    margin-left:6rem;
    display: flex;
    flex-direction: column;
    
}

.bgCoverContainer {
    width: 100%;
    height: 90vh;

    img{
        position: fixed;
        // z-index: -1;
        top: 0;
        left: 0;
        height: 100vh;
        width: 100vw;
    }

    #tittleHolder{
        position: fixed;
        z-index: 1;
        margin-left: 50%;
        top: 50%;
        transform: translateX(-55%);
        width: 100%;
        height: 10rem;
        // background-color: $bg-color-primary;
        align-items: center;
        display: flex;
        justify-content: center;

        a{
            color: $text-color-strong;
            font-family: "Poppins", sans-serif;
            font-size: 6rem;
            font-weight: 900;
            margin-top: -6rem;
            transition: all ease 1000ms;
            text-align: center;
            
        }
    }

    
    
}

a#titulo:hover{
    font-size: 8rem;
    color: $bg-color-primary;
    position: absolute;
}

#more-information{
    border-radius: 2rem 2rem 0 0;
    padding: 0 2rem 0 2rem;
    width: 98%;
    height: 90vh;
    background: $bg-color-primary;
    z-index: 2;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    overflow: hidden;

    #vertical-cover-holder{
        width: 36.5rem;
        height: 53.2rem;
        border-radius: 1rem;
        img{
            width: 100%;
            height: 100%;
            border-radius: 0.4rem;
        }
    }

    #sinopseContainer{
        width: 48rem;
        height: 53.2rem;
        // background-color: $bg-color-primary;
        border-radius: 0 1rem 1rem 0;
        margin-top: 12%;

        .spacing{
            height: 45% !important;
        }
        .sinopseholder{
            h2{
                font-size: 4rem;
                color: $text-color-strong;
            }
        }

        .sinopseText{
            background: $bg-color-primary;
            width: 100%;
            height: 23rem;
            border-radius: 1.5rem;
            display: flex;
            // justify-content: center;
            // align-items;

            p{
                font-family: 'open-sans', sans-serif;
                font-weight: 500;
                font-size: 2.1rem;
                color: $text-color-weak;
                width: 95%;
                letter-spacing: 5%;
            }
        }
    }

    
}