#tecnicalsheet{
    width: 33.8rem;
    height: 53.2rem;
    overflow: hidden;

    h2{
        font-size: 3.2rem;
        color: $text-color-strong;
        font-family: 'Poppins', sans-serif;
        font-weight: 900;
    }

    .table{
        width: 100%;
        display: flex;
        border-radius: 0.4rem;
        background-color: $text-color-strong;
        height: 100%;
        flex-direction: column;
        align-items: center;

        h3{
            color: $bg-color-primary;
            font-size: 2rem;
            margin-top:1rem;
        }

        h4{
            margin-bottom: 1rem;
            color: $bg-lighteen-color;
            font-size: 1.6rem;
        }

        .tabledata{
            display: flex;
            flex-direction: column;
            align-items: center;

            .darkblock {
                background: $bg-color-primary;
                height: 3.2rem;
                width: 32rem;
                display: flex;
                justify-content: space-between;
                align-items: center;
                box-sizing: border-box;
                overflow: hidden;
                padding: 0 1rem 0 1rem;
                div{
                    font-size: 1.3rem;
                    font-family: 'Open Sans', sans-serif;
                    color: $text-color-strong;
                    font-weight: 600;
                    
                }

                div:nth-child(1){
                    color: $text-color-weak;
                    font-size: 1.8rem;
                }

                div:nth-child(2){
                    width: 34%;
                }
            }

            .darkblock:nth-child(7), .darkblock:nth-child(15) {
                padding-top: 1rem;
                align-items: end;
            }
            .darkblock:nth-child(7) {
                height: 6.4rem;
            }

            .darkblock:nth-child(15) {
                height: 9.4rem;
            }

            .darkblock:nth-child(4) {
                color: $text-color-strong;
            }
            .lighteenblock{
                background-color: $bg-lighteen-color;
                height: 1rem;
                width: 27rem;
            }
        }
    }
}