.container__flex{
    display: flex;
}

.justified__spaced{
    justify-content: space-between;
}

.justified__centered{
    justify-content: center;
}

.aligned__centered{
    align-items: center;
}

.fluid{
    transition: all 400ms;
}

.borderless{
    border: 0;
}