$text-color-strong: #FAFA5E;
$text-color-weak: #FEFC8D;
$bg-color-primary: #3A3958;
$bg-lighteen-color: #565580;

@import 'base';
@import 'usualClasses';
@import 'container';
@import 'mainSection';
@import 'arrows';
@import 'cards';
@import 'carousel';
@import 'verticalCards';
@import 'horizontalCards';
@import 'header';
@import 'video';
@import 'movieDetails';
@import 'footer';
@import 'responsive';
@import 'allMovies';