@charset "UTF-8";
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: 0;
  text-decoration: none;
  -webkit-user-select: none !important;
     -moz-user-select: none !important;
      -ms-user-select: none !important;
          user-select: none !important;
}

html {
  /* a cada 1rem será considera 10px */
  font-size: 62.5%;
  scroll-behavior: smooth;
}

html,
body {
  font-family: "Poppins", sans-serif;
  text-rendering: optimizelegibility;
  -webkit-font-smoothing: antialiased;
}

body {
  font-size: 1.6rem;
  position: relative;
}
body::-webkit-scrollbar {
  width: 15px;
  padding: 0 2px; /* width of the entire scrollbar */
}
body::-webkit-scrollbar-track {
  background-color: #FAFA5E;
}
body::-webkit-scrollbar-thumb {
  background-color: #565580;
  filter: brightness(1.4);
  width: 10px;
  border-radius: 1rem;
}

.container__flex {
  display: flex;
}

.justified__spaced {
  justify-content: space-between;
}

.justified__centered {
  justify-content: center;
}

.aligned__centered {
  align-items: center;
}

.fluid {
  transition: all 400ms;
}

.borderless {
  border: 0;
}

#container {
  background: #3A3958;
  background-image: url("https://i.pinimg.com/originals/02/82/3c/02823cbfd3b547999b18a69cc0c1e6bb.gif");
  background-size: 5%;
}

div .content {
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.container {
  padding-left: 3rem;
}

#bigCover {
  position: absolute;
  z-index: 2;
  right: 0;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-image: url(https://wallpaperaccess.com/full/1086024.jpg);
}
#bigCover div .tittleHolder {
  position: absolute;
  z-index: 2;
  width: 70rem;
  height: 20rem;
  background-color: #FAFA5E;
}
#bigCover div .tittleHolder a {
  font-size: 50rem;
  color: #FAFA5E;
}

main {
  margin-top: 5rem;
  overflow-x: hidden;
}
main .movies__section {
  margin-bottom: 3rem;
  position: relative;
}
main .movies__section h2 {
  color: #FEFC8D;
}

div .cards {
  margin-bottom: 3rem;
  position: relative;
}
div .cards h2 {
  color: #FEFC8D;
}

.arrows__container {
  display: flex;
  justify-content: space-between;
  height: 100%;
  width: 100%;
}

.arrows {
  z-index: 90;
  position: absolute;
  width: 4rem;
  height: 100%;
  background-color: rgba(254, 252, 141, 0.6);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  opacity: 0;
  transition: all ease 0.4s;
  text-align: center;
}
.arrows i {
  color: #3A3958;
  width: 3rem;
  height: 3rem;
}
.arrows:hover {
  opacity: 1;
}

.arrow__right {
  left: 97%;
  top: 0;
  border-radius: 0 0.5rem 0.5rem 0;
}

.arrow__left {
  border-radius: 0.5rem 0 0 0.5rem;
}

.carousel__wrapper {
  overflow-x: hidden;
  position: relative;
  overflow-y: hidden;
}
.carousel__wrapper .carousel {
  display: flex;
  grid-auto-flow: column;
  flex-wrap: wrap;
  gap: 10px;
}
.carousel__wrapper .carousel .carousel__card {
  height: 40rem;
}

.carousel__card {
  border-radius: 2rem;
  display: inline-block;
  cursor: pointer;
}
.carousel__card .carousel__card__image {
  width: 100%;
  height: 100%;
  border-radius: 2rem;
  cursor: pointer;
  position: relative;
}
.carousel__card .carousel__card__image:hover {
  box-shadow: 0 0 10px 5px rgba(245, 245, 245, 0.288);
  transform: scale(0.9);
}
.carousel__card .carousel__card__image:hover span.movie__description__wrapper {
  top: 0;
  height: 100%;
  width: 100%;
}
.carousel__card .carousel__card__image img {
  width: 100%;
  height: 100%;
  border-radius: 0.5rem;
  cursor: pointer;
}
.carousel__card .carousel__card__image span.movie__description__wrapper {
  height: 50%;
  top: 200%;
  z-index: 2;
  position: absolute;
  left: 0;
  text-align: center;
  width: 100%;
  border-radius: 0.5rem;
  display: inline-flex;
  align-items: flex-end;
  padding: 0 0.5rem 2.5rem 0.5rem;
  background: linear-gradient(0deg, rgb(86, 85, 128) 0%, rgba(86, 85, 128, 0.836) 35%, rgba(0, 212, 255, 0) 100%);
  color: #f9f78c;
}
.carousel__card .carousel__card__image span.movie__description__wrapper .movie__description {
  height: 40%;
  width: 20%;
  display: contents;
  padding: 0.5rem;
  padding-top: 0;
}

#cardsArea {
  overflow-x: hidden;
}

div .VerticallList {
  width: 2770rem;
  transition: all ease 400ms;
}

.VerticalCard {
  display: inline-block;
  width: 28rem;
  height: 46rem;
  z-index: 1;
  transition: all ease 400ms;
  transform: scale(1);
}
.VerticalCard img {
  width: 100%;
  height: 100%;
  border-radius: 1rem;
  background-size: cover !important;
}
.VerticalCard img img:hover {
  background-color: black;
}

.VerticalCard:hover {
  transform: scale(0.9);
  position: inherit;
  z-index: 22;
  box-shadow: 0 0 10px 10px rgba(86, 85, 128, 0.6);
  border-radius: 1.5rem;
}

#horizontalCards {
  overflow-x: hidden;
}

div .cardsList {
  width: 400rem;
  transition: all ease 1000ms;
}

.HorizontalCard {
  display: inline-block;
  width: 36rem;
  height: 17rem;
  transform: scale(1);
  transition: all ease 400ms;
}
.HorizontalCard img {
  width: 100%;
  height: 100%;
  border-radius: 1rem;
}

.HorizontalCard:hover {
  z-index: 22;
  background: #000;
  transform: scale(0.9);
  box-shadow: 0 0 10px 10px rgba(86, 85, 128, 0.6);
  border-radius: 1.5rem;
}

header {
  position: fixed;
  z-index: 22;
  width: 100%;
  height: 5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  top: 0;
  padding: 0 3rem;
}

#Logo {
  color: #FAFA5E;
  font-size: 3rem;
  font-weight: 900;
  font-family: "Poppins", sans-serif;
  text-rendering: optimizelegibility;
  -webkit-font-smoothing: antialiased;
  transition: all ease 400ms;
}
#Logo:hover {
  transform: scale(1.2);
}

#menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
}
#menu a {
  color: #FEFC8D;
  font-size: 1.563rem;
  font-family: "open sans", sans-serif;
  font-weight: 600;
  transition: 400ms;
  will-change: transform;
}

#menu a:hover {
  transform: scale(1.3) scaleX(1.1);
  color: #FAFA5E;
}

div#video-container {
  width: 100vw;
  height: 100vh;
  background: #3A3958;
  background-image: url("https://i.pinimg.com/originals/02/82/3c/02823cbfd3b547999b18a69cc0c1e6bb.gif");
  background-size: 5%;
  display: flex;
  align-items: center;
  justify-content: center;
  -webkit-animation-name: fundo;
          animation-name: fundo;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  animation-direction: reverse;
  -webkit-animation-timing-function: ease;
          animation-timing-function: ease;
}
div#video-container #video-holder {
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}
div#video-container #video-holder a {
  color: #FAFA5E;
  font-size: 3rem;
  font-weight: 900;
}
div#video-container #video-holder a i {
  -webkit-animation: none;
          animation: none;
}
div#video-container #video-holder a:hover {
  color: #565580;
  filter: brightness(1.2);
}
div#video-container #video-holder a:hover i {
  -webkit-animation: goLeft 400ms;
          animation: goLeft 400ms;
}
div#video-container #movie__watch__header {
  width: 100%;
  color: #FAFA5E;
}
@-webkit-keyframes fundo {
  0% {
    background-position-x: 0%;
  }
  25% {
    background-position-x: 25px;
  }
  50% {
    background-position-x: 50px;
  }
  75% {
    background-position-x: 75px;
  }
  100% {
    background-position-x: 100px;
  }
}
@keyframes fundo {
  0% {
    background-position-x: 0%;
  }
  25% {
    background-position-x: 25px;
  }
  50% {
    background-position-x: 50px;
  }
  75% {
    background-position-x: 75px;
  }
  100% {
    background-position-x: 100px;
  }
}
@-webkit-keyframes goLeft {
  0% {
    transform: translateX(200%) scaleX(1);
  }
  80% {
    transform: scaleX(0.7);
  }
  100% {
    transform: translateX(0) scaleX(1);
  }
}
@keyframes goLeft {
  0% {
    transform: translateX(200%) scaleX(1);
  }
  80% {
    transform: scaleX(0.7);
  }
  100% {
    transform: translateX(0) scaleX(1);
  }
}
.movie__detail__container {
  position: absolute;
  top: 50px;
  left: 50%;
  width: 40%;
  z-index: 2;
  -webkit-animation: goUp 1000ms;
          animation: goUp 1000ms;
  transform: translateX(-50%);
  background-color: #FAFA5E;
  border-radius: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.movie__detail__container .banner__container {
  width: 100%;
  height: 20rem;
  border-radius: 2rem 2rem 0 0;
  background-size: cover;
  background-position: center;
  cursor: pointer;
  position: relative;
}
.movie__detail__container .banner__container:hover span {
  height: 100%;
}
.movie__detail__container .banner__container:hover span i {
  opacity: 1;
  transform: rotateZ(0deg);
}
.movie__detail__container .banner__container:hover span i:hover {
  transform: scale(1.2) rotateZ(0deg);
}
.movie__detail__container .banner__container span {
  border-radius: 2rem 2rem 0 0;
  width: 100%;
  height: 0;
  background-color: rgba(86, 85, 128, 0.6235294118);
  display: flex;
  align-items: center;
  justify-content: center;
}
.movie__detail__container .banner__container span a i {
  opacity: 1;
  font-size: 2.5rem;
  color: #FAFA5E;
  transition: all 800ms;
  transform: scale(1) rotateZ(-270deg);
}
.movie__detail__container .banner__container .close__button {
  position: absolute;
  top: 5%;
  left: 90%;
  color: #FEFC8D;
  font-size: 2rem;
  border-radius: 0;
  background: transparent;
  padding: 1rem;
  height: 4rem;
  width: 4rem;
  cursor: pointer;
  border-radius: 50%;
  transform: rotateZ(-90deg);
}
.movie__detail__container .banner__container .close__button:hover {
  background-color: #565580;
  transform: rotateZ(0);
}
.movie__detail__container .content__wrapper .movie__title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.movie__detail__container .content__wrapper .movie__detail__description::first-letter {
  font-weight: 700;
  font-size: large;
}
.movie__detail__container .movie__detail__content {
  color: #565580;
  height: 50%;
  min-height: 20rem;
  margin-top: 1rem;
  padding: 2rem;
  padding-top: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.movie__detail__container .director__wrapper {
  margin-top: 0.5rem;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.movie__detail__container.hidden {
  display: none;
}

.movie__detail__container.vanishing {
  -webkit-animation-name: goDown;
          animation-name: goDown;
}

@-webkit-keyframes goUp {
  0% {
    top: 200%;
  }
  90% {
    top: 0;
  }
  100% {
    top: 10%;
  }
}

@keyframes goUp {
  0% {
    top: 200%;
  }
  90% {
    top: 0;
  }
  100% {
    top: 10%;
  }
}
@-webkit-keyframes goDown {
  100% {
    top: 200%;
  }
  10% {
    top: 0;
  }
  0% {
    top: 10%;
  }
}
@keyframes goDown {
  100% {
    top: 200%;
  }
  10% {
    top: 0;
  }
  0% {
    top: 10%;
  }
}
footer {
  color: #3A3958;
  width: 100%;
  gap: 0.5rem;
  background-color: #FAFA5E;
  padding: 1rem;
}
footer a {
  color: #3A3958;
  position: relative;
}
footer a::before {
  content: "";
  position: absolute;
  background-color: #3A3958;
  width: 0;
  height: 100%;
  transition: all 400ms;
  color: yellow;
  z-index: -1;
  border-radius: 1rem;
  padding: 0 1rem;
}
footer a:hover {
  color: yelow;
  filter: brightness(0.9);
  transform: translateX(10px);
  color: #FAFA5E;
}
footer a:hover::before {
  width: 100%;
  transform: translateX(-10px);
}

@media (max-width: 1030px) {
  .carousel__wrapper .carousel .carousel__card {
    height: 33rem;
  }
}
@media (max-width: 450px) {
  .container {
    padding-left: 1rem;
  }
  header {
    padding: 1rem !important;
  }
  header #Logo {
    font-size: 1.5rem;
  }
  header #menu {
    margin-right: 0;
    gap: 0.5rem;
  }
  header #menu a {
    margin: 0;
    font-size: 1.2rem;
  }
  main section h2 {
    font-size: 2rem;
  }
  .carousel__wrapper .carousel .carousel__card {
    height: 14rem;
  }
  .carousel__wrapper .carousel .carousel__card .carousel__card__image span.movie__description__wrapper {
    display: none;
  }
  .movie__detail__container {
    width: 100%;
    z-index: 92;
    transform: translateX(-51%);
  }
  .movie__detail__container .banner__container span {
    height: 100%;
  }
  .movie__detail__container .banner__container span a i {
    transform: rotate(0);
  }
  .arrows {
    opacity: 1;
    width: 2.5rem;
  }
  .arrow__right {
    left: 91.8%;
  }
  #video-holder {
    width: 100%;
  }
  #video-holder iframe {
    width: 100vw;
  }
}
#movies__grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  width: 100%;
  overflow: hidden;
  gap: 1rem;
}/*# sourceMappingURL=main.css.map */